<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Basic Form</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Basic Form</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create
                New</button>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">General Form</h4>
                <h6 class="card-subtitle"> All with bootstrap element classies </h6>
                <form class="mt-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2 mb-3">
                        <input type="checkbox" class="custom-control-input" id="checkbox0" value="check">
                        <label class="custom-control-label" for="checkbox0">Check Me Out !</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row">
    <div class="col-12">

        <div class="table-responsive">
            <table id="demo-foo-accordion2" class="table table-bordered m-b-0 toggle-arrow-tiny  table-hover contact-list color-table primary-table" data-filtering="true" data-paging="true" data-sorting="true">
                <thead>
                    <tr class="footable-filtering">
                        <th data-toggle="true"> First Name </th>
                        <th> Last Name </th>
                        <th data-hide="phone"> Job Title </th>
                        <th data-hide="all"> DOB </th>
                        <th data-hide="all"> Status </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Isidra</td>
                        <td>Boudreaux</td>
                        <td>Traffic Court Referee</td>
                        <td>22 Jun 1972</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Shona</td>
                        <td>Woldt</td>
                        <td>Airline Transport Pilot</td>
                        <td>3 Oct 1981</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Granville</td>
                        <td>Leonardo</td>
                        <td>Business Services Sales Representative</td>
                        <td>19 Apr 1969</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Easer</td>
                        <td>Dragoo</td>
                        <td>Drywall Stripper</td>
                        <td>13 Dec 1977</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Maple</td>
                        <td>Halladay</td>
                        <td>Aviation Tactical Readiness Officer</td>
                        <td>30 Dec 1991</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Maxine</td>
                        <td><a href="javascript:void(0)">Woldt</a></td>
                        <td><a href="javascript:void(0)">Business Services Sales
                                Representative</a></td>
                        <td>17 Oct 1987</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorraine</td>
                        <td>Mcgaughy</td>
                        <td>Hemodialysis Technician</td>
                        <td>11 Nov 1983</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lizzee</td>
                        <td><a href="javascript:void(0)">Goodlow</a></td>
                        <td>Technical Services Librarian</td>
                        <td>1 Nov 1961</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Judi</td>
                        <td>Badgett</td>
                        <td>Electrical Lineworker</td>
                        <td>23 Jun 1981</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lauri</td>
                        <td>Hyland</td>
                        <td>Blackjack Supervisor</td>
                        <td>15 Nov 1985</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Isidra</td>
                        <td>Boudreaux</td>
                        <td>Traffic Court Referee</td>
                        <td>22 Jun 1972</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Shona</td>
                        <td>Woldt</td>
                        <td>Airline Transport Pilot</td>
                        <td>3 Oct 1981</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Granville</td>
                        <td>Leonardo</td>
                        <td>Business Services Sales Representative</td>
                        <td>19 Apr 1969</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Easer</td>
                        <td>Dragoo</td>
                        <td>Drywall Stripper</td>
                        <td>13 Dec 1977</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Maple</td>
                        <td>Halladay</td>
                        <td>Aviation Tactical Readiness Officer</td>
                        <td>30 Dec 1991</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Maxine</td>
                        <td><a href="javascript:void(0)">Woldt</a></td>
                        <td><a href="javascript:void(0)">Business Services Sales
                                Representative</a></td>
                        <td>17 Oct 1987</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorraine</td>
                        <td>Mcgaughy</td>
                        <td>Hemodialysis Technician</td>
                        <td>11 Nov 1983</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lizzee</td>
                        <td><a href="javascript:void(0)">Goodlow</a></td>
                        <td>Technical Services Librarian</td>
                        <td>1 Nov 1961</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Judi</td>
                        <td>Badgett</td>
                        <td>Electrical Lineworker</td>
                        <td>23 Jun 1981</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lauri</td>
                        <td>Hyland</td>
                        <td>Blackjack Supervisor</td>
                        <td>15 Nov 1985</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Isidra</td>
                        <td>Boudreaux</td>
                        <td>Traffic Court Referee</td>
                        <td>22 Jun 1972</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Shona</td>
                        <td>Woldt</td>
                        <td>Airline Transport Pilot</td>
                        <td>3 Oct 1981</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Granville</td>
                        <td>Leonardo</td>
                        <td>Business Services Sales Representative</td>
                        <td>19 Apr 1969</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Easer</td>
                        <td>Dragoo</td>
                        <td>Drywall Stripper</td>
                        <td>13 Dec 1977</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Maple</td>
                        <td>Halladay</td>
                        <td>Aviation Tactical Readiness Officer</td>
                        <td>30 Dec 1991</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Maxine</td>
                        <td><a href="javascript:void(0)">Woldt</a></td>
                        <td><a href="javascript:void(0)">Business Services Sales
                                Representative</a></td>
                        <td>17 Oct 1987</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorraine</td>
                        <td>Mcgaughy</td>
                        <td>Hemodialysis Technician</td>
                        <td>11 Nov 1983</td>
                        <td><span class="label label-table label-inverse">Disabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lizzee</td>
                        <td><a href="javascript:void(0)">Goodlow</a></td>
                        <td>Technical Services Librarian</td>
                        <td>1 Nov 1961</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Judi</td>
                        <td>Badgett</td>
                        <td>Electrical Lineworker</td>
                        <td>23 Jun 1981</td>
                        <td><span class="label label-table label-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lauri</td>
                        <td>Hyland</td>
                        <td>Blackjack Supervisor</td>
                        <td>15 Nov 1985</td>
                        <td><span class="label label-table label-danger">Suspended</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
 
        </div>
        </div>
        